<footer>
  <!-- ------------------------- -->

  <div class="container-fluid py-5" style="background-color:#f8f8fd;margin-top:20px">


    <div class="container-fluid ">
       <div class="container ">
        <h1 class="lh-base  d-flex justify-content-center align-items-center">Join us on</h1>
       </div>
       <div class="row mt-5 d-flex justify-content-between align-items-center text-center">
          <div class="col-md-4  ">
            <a class="navbar-brand " href="#"> <i class="fa-brands fa-youtube  fa-2x lh-base" style="color:red; "></i> </a>
            <h6>YOUTUBE</h6>
            <h6 CLASS="fw-bold">APNA SAMAN</h6>
          </div>
          <div class="col-md-4">
            <a class="navbar-brand " href="#"> <i class="fa-brands fa-instagram  fa-2x lh-base" style="color:rgb(212, 43, 218); "></i> </a>
            <h6>INSTAGRAM</h6>
            <h6 CLASS="fw-bold">APNA SAMAN</h6>
          </div>
          <div class="col-md-4 ">
            <a class="navbar-brand " href="#"> <i class="fa-brands fa-facebook  fa-2x lh-base" style="color:rgb(48, 128, 199); "></i> </a>
            <h6>FACEBOOK</h6>
            <h6 CLASS="fw-bold">APKA SAMAN</h6>
          </div>
       </div>
    </div>
   </div>

  <!-- ----------------------------- -->
   
  <div class="container-fluid bg-white pt-5">
       <div class="container ">
         <div class="row d-flex justify-content-between align-items-center">
           <div class="col-md-6 col-lg-2 my-5 text-center">
              <a class="navbar-brand   " href="#"><img class="logo1" src="/2.jpeg" > </a>
              <a href="#" class="text-decoration-none"> <H5 class="text-decoration-none text-black">Where Products real-world needs.</H5></a>
           </div>
           <div class="col-md-6 col-lg-3  my-5 justify-content-center align-items-center">
              <a href="#" class="text-decoration-none d-flex text-center justify-content-center align-items-center"> <H5 class="text-decoration-none text-black fw-bold  mb-3">HELPFUL LINKS</H5></a>
              <!-- <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-cener mb-1 "> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a> -->
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
           </div>
           <div class="col-md-6 col-lg-3  my-5 justify-content-center align-items-center">
              <a href="#" class="text-decoration-none d-flex text-center justify-content-center align-items-center"> <H5 class="text-decoration-none text-black fw-bold  mb-3">HELPFUL LINKS</H5></a>
              <!-- <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-cener mb-1 "> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a> -->
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
           </div>
           <div class="col-md-6 col-lg-3  my-5 justify-content-center align-items-center">
              <a href="#" class="text-decoration-none d-flex text-center justify-content-center align-items-center"> <H5 class="text-decoration-none text-black fw-bold  mb-3">HELPFUL LINKS</H5></a>
              <!-- <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-cener mb-1 "> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a> -->
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
              <a href="#" class="text-decoration-none d-flex  justify-content-center align-items-center mb-1"> <i class="fa-solid fa-angle-right text-black "></i> &nbsp;<H6 class="text-decoration-none text-black">Courses</H6></a>
           </div>
           
         </div>
       </div>  
       <div class="container">
        <br>
        <h6 class="text-center d-flex justify-content-center py-5">@copyright 2024</h6>
       </div>
   </div>
  
   </footer>